$filteration-bg: #000000;
$textFooter-color: #ffffff;
$hover-color: #f11133;
.filteration {
  background-color: $filteration-bg;
  color: $textFooter-color;

  @media (max-width: 912px) {
    opacity: 0 !important;
    height: 0 !important;
    overflow: hidden;
  }
}

.mobile_filteration {
  opacity: 0 !important;
  height: 0 !important;
  overflow: hidden;

  @media (max-width: 912px) {
    opacity: 1 !important;
    height: auto !important;
  }
}
.category {
  transition: all 1s;

  &:hover {
    color: $hover-color;
  }
}
